/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }



/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}

hr{
    border-color: #ACACAC;
    margin: 0;
}
h2,h3,h4,li{
    font-family: 'Montserrat', sans-serif;
    color:#5b5b5b;
}
h2{
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-size: 20px;
}
p,a{  
    font-family: 'Montserrat', sans-serif;
    color: #5b5b5b;
    font-size: 14px;
}
span, #footer a,.footer-menu p{
    font-family: 'Montserrat', sans-serif;
    color: #5b5b5b;
    font-size: 12px;
}
a.no-decoration,a.no-decoration:hover{
    text-decoration: none;
}
/*colors
red =  #e71f25
blue = #22a7df
yellow = #F6FF01
*/
.icon-record{
    font-size: 20px;
}
.red-color{
    color: #e71f25;
}
.blue-color{
    color: #22a7df;
}
.yellow-color{
    color: #F6FF01;
}
.white-color{
    color: white;
}
.white-bg{
    background-color:#fff;
}
.red-bg{
    background-color: #e71f25;
}
.blue-bg{
    background-color: #22a7df;
}
.lightgray-bg{
    background-color: #e7e7e7;
}

.red-border{
    border: 2px solid #e71f25;
}
.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td, .table-bordered > thead > tr > th {
  border: 2px solid #e71f25;
}



.main-title{
     font-family: "Times New Roman", Times, serif;
     font-size: 32px;
     color:#5b5b5b
}

.icon-facebook{
    font-size: 25px;
}
.icon-youtube-circle{
    font-size: 30px;
}

.header-contact hr{
    margin: 0;
}

.margin-15{
    margin: 15px;
}

.margin-25{
    margin: 25px;
}

.margin-30{
    margin: 30px;
}
.border-blue{
    border: 3px solid #22a7df;
}
.border-red{
    border: 3px solid #e71f25;
}
.uppercase{
    text-transform: uppercase;
}


.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:focus,.dropdown-menu > li > a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover ,.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: transparent;
    color: #F6FF01;
}

.navbar-nav > li > .dropdown-menu{
    background-color: #e71f25;
    border:none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
    background:white; 
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: #e71f25;
    color: #F6FF01;
}
.language-select > li:hover{
    background-color: white;
}
.language-select > li >a:hover{
    background-color: white;
}

table.schedule tr td{
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
}
table.schedule tr th{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.grade-num{
    font-size: 45px;
    margin-left: 30px;
}
.border-left{
    border-left:1px solid  #ACACAC;
}

.margin-top-15{
    margin-top: 15px;
}
.margin-top-1em{
    margin-top: 1em;
}
.margin-bottom-1em{
    margin-bottom: 1em;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
nav.navbar-default{
    margin-bottom: 0px;
}
.page-title h2{
    display: inline-block;
    padding: 12px 40px;
    border-bottom: 2px solid #5b5b5b;
    color: #5b5b5b;
    text-transform: uppercase;
}
.page-title-white h2{
    display: inline-block;
    padding: 12px 40px;
    border-bottom: 2px solid white;
    color: white;
    text-transform: uppercase;
}


#footer .list-inline > li{

    padding: 0 10px;
}
.slider-hr{
margin: 0;
border: 2px solid #e71f25;

}
.footer-hr{
    margin:0 0 10px 0;
}
.inline-block{
    display: inline-block;
}
.social-footer{
    margin-bottom: 10px;

}
.footer-menu{
    margin-top: 30px;
}


.carousel-inner .thumbnail .item-caption{
    padding: 0 30px;
}



.overlapped{
    position: absolute;
    width: 100%;
    top:190px;
    left: 0;
}
.overlapped h3{
    margin: 6px;
    color: white;
}

.overlapped-events{
    position: absolute;
    top: 15px;
    right: 18px;
}
.overlapped-events p{
    margin: 6px;
    color: white;
}

#myCarousel,#main_area .thumbnail{
    border:5px solid #e71f25;
    border-radius: 0;
    padding: 0;
    margin-top: 15px;
}
.carousel-control span{
    color: white;
}
#carousel-home .carousel-caption{
    right: 10%;
    left: auto;
    width: 40%;
    bottom:auto;
    top:8%;

}
#carousel-home .carousel-caption h3{
    font-size: 90px;
    color:#5b5b5b;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    width: 100%;
}

.events-carousel{
   border: none!important;
   margin-bottom: 20px;
}

#slider-thumbs{
    padding: 10px;
}

.div-thumbnail{
    width: 149px;
    height: 105px; 
    margin:0 5px; 
    float:left
}

.div-thumbnail a{
    border:none!important;
    margin-top: 0!important;}

/* MENU-LEFT
-------------------------- */
/* layout */

#left ul.nav ul {
    padding-left: 0;
    width: auto;
}
#left ul.nav ul.children > li >a {
    
    width: auto;
    position: relative;
display: block;
padding: 10px 0;
padding-left: 15px;
margin-left: 10px;

}
#left ul.nav ul.children > li >a:hover,#left ul.nav ul.children > li >a:focus
{
    text-decoration: none;
}
#left h3{
    text-align: center;
}
#left h3,#left a,#left a span{
    color: white;
    
}
#left a span{
    font-size: 14px;
}
#left ul li{
    border-top: 1px solid white;
}

#left ul li a{
    font-size: 14px;
}
#left ul li a:hover,#left .nav  li  a:focus,#left ul li a:hover,#left .nav  li  a:hover span,#left ul li.active a{
    background: transparent;
    color:#F6FF01;  
    font-weight: bold; 
}
#left ul li a:hover:before,#left ul li.active a:before{
    content: "\e605";
    position: absolute;
    left: 0;
    top:0.8em;
    font-family: "icomoon";
     speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.doctors-info h2,.doctors-info h2 span{
    font-size: 30px;
}
.text-big{
    font-size: 30px;
}
.text-bigger{
    font-size: 60px;
}
.table.red-bg td,.table.red-bg th{
    color: white;
}
.icon-mail-big{
    font-size: 60px;
}
.envelope-header{
 font-size: 60px;
}
.right-side {
    padding-bottom: 100px;
}
@media (max-width: 767px) {
    .text-left-xs {
      text-align: left;
    }
    .text-right-xs {
      text-align: right;
    }
    .text-center-xs {
      text-align: center;
    }
    .language-select{
        width: 100%;
    }
    .language-select > li{
        text-align: center;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
        color: #F6FF01;
    }
    #carousel-home .carousel-caption h3{
    font-size: 20px;
    
}

}

@media (min-width: 768px) and (max-width: 991px) {
    .text-left-sm {
      text-align: left;
    }
    .text-right-sm {
      text-align: right;
    }
    .text-center-sm {
      text-align: center;
    }
    #carousel-home .carousel-caption h3{
    font-size: 60px;
    
    }
    .left-side {vertical-align: top;float: none;display: table-cell;}
    .right-side {float: none;    display: table-cell;}
    .body {display: table;   }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-md {
      text-align: left;
    }
    .text-right-md {
      text-align: right;
    }
    .text-center-md {
      text-align: center;
    }
    #carousel-home .carousel-caption h3{
    font-size: 70px;
    }
    .left-side {vertical-align: top;float: none;display: table-cell;}
    .right-side {float: none;    display: table-cell;}
    .body {display: table;   }
}

@media (min-width: 1200px) {
    .text-left-lg {
      text-align: left;
    }
    .text-right-lg {
      text-align: right;
    }
    .text-center-lg {
      text-align: center;
    }
    .left-side {vertical-align: top;float: none;display: table-cell;}
    .right-side {float: none;    display: table-cell;}
    .body {display: table;   }
}


.sidebar {

}

.curriculum-list >tbody >tr > td,.curriculum-list >tbody >tr > th{
 color: white;
 border-top:0;
 border-bottom: 1px solid white;
}




 .flip-container {
    min-height: 250px;
    margin:0 auto;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}



.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    position: relative;
}

.front,.back {

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.csstransforms3d .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.csstransforms3d .flip-container:hover .back,.csstransforms3d .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.csstransforms3d .flip-container:hover .front,.csstransforms3d .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.csstransforms3d .curriculum-header{
    display: none;
}
.no-csstransforms3d .front{
    display: none;
}
.no-csstransforms3d .curriculum-header {
    display: table-row;
}


.ie-lt9 .front:hover{
   z-index: 1;
}
.ie-lt9 .back:hover{
    z-index: 2;
}
.front {
    z-index: 2;
}
.back{
    z-index: 1;
}

.phone-red,.phone-blue{padding: 2px 4px; border-radius: 10px}

.btn-enviar{  padding: 5px 15px;
  float: right;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
border:none;}


.formulario{padding-top: 15px;
padding-bottom: 15px;}
.formulario .row{border-right: 4px solid #fff}
.formulario h1{font-size: 30px}
.form-control{font-family:'Montserrat', sans-serif; }
.datos-contacto{padding-top: 70px;}
.datos-contacto h4{color: #fff; font-size: 14px; margin: 0}
.datos-contacto p{color: #fff; font-size: 14px; margin-top: 10px;}
.datos-contacto h2{color: #fff; font-size: 24px; font-weight: 900; margin-bottom: 0;}
