{% extends "layout.html" %}
{% block slider %}
  <!-- Indicators -->
  {# <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol> #}
  <!-- Wrapper for slides -->
  <div id="carousel" class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/school-profile/our.jpg" alt=" Caption 1">
      <div class="carousel-caption">
      </div>
    </div>
   
  </div>
{% endblock  %}
{% block content %}
<div class="row body">
    {% include 'sidebar-about-us.html'  %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>{{page.title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>The International American School of Cancun is an independent U.S. style school offering a program of academic excellence in a bilingual, multinational setting to students. We provide a caring and stimulating environment which fosters a lifelong enthusiasm for learning and prepares our students to become responsible citizens in a rapidly changing world.</p>

                <p>Our vision is to develop bilingual, multicultural citizens who are well-rounded, lifelong learners.</p>
               
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.about-us").addClass("active");
    $("li.our-school>ul").addClass("in");
    $("li.mission-statement").addClass("active");
    
  });
</script>
{% endblock  %}
