{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-about-us.html'  %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>{{page.title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut leo non odio cursus luctus. Cras interdum nunc ex, eu dapibus arcu rhoncus sit amet. Sed non rutrum velit. Nulla facilisis nec orci eget aliquet. Duis ut sollicitudin tellus, consequat finibus odio. Vestibulum molestie felis quam, vitae varius sem pulvinar non. Aliquam arcu diam, varius non metus sit amet, pellentesque bibendum neque. Curabitur vitae gravida dui.</p>

                <p>Mauris mauris orci, gravida laoreet dolor eu, malesuada sagittis ex. Nulla aliquam tellus leo, vulputate suscipit libero consequat vel. Mauris mattis commodo egestas. Suspendisse at nibh rutrum, convallis nulla vel, auctor enim. Sed in elit nulla. Nam blandit dolor a lorem viverra scelerisque a nec sapien. Ut tincidunt, eros nec commodo facilisis, sapien nibh sodales arcu, eu efficitur ipsum odio in justo. Cras bibendum sapien at volutpat auctor. Quisque dictum pretium eros quis porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In dui eros, pretium non varius nec, dapibus id ante.</p>

                <p>Vestibulum pharetra arcu nec nulla ultricies fringilla. Nulla ante nunc, tristique vitae sollicitudin vel, efficitur a enim. Donec sagittis sollicitudin risus eget consequat. Donec nec metus quis sem blandit vulputate. Quisque blandit iaculis mauris, id eleifend metus consectetur nec. Cras in viverra libero. Nam ut nisl viverra urna feugiat hendrerit. Praesent augue nunc, elementum sit amet consectetur sit amet, rhoncus in libero. Vivamus rutrum purus vel malesuada tempor. Ut tristique sit amet magna eu congue. Vestibulum ac ultricies lorem. Fusce bibendum, nibh nec vehicula venenatis, sem urna interdum nibh, eu fermentum neque nulla quis felis. Proin mollis elit et urna pharetra, sed molestie nibh vehicula. Suspendisse convallis vel turpis sed venenatis. Donec faucibus est quis nulla porta, id sollicitudin lectus semper. Etiam et condimentum urna.</p>

                <p>Duis egestas dictum justo egestas dapibus. Morbi id auctor augue, vitae ultricies mauris. Nullam nec venenatis tortor, et fringilla dolor. Nunc efficitur sem ut sem mattis efficitur. Integer elit purus, auctor sed lacinia eu, imperdiet in odio. Curabitur tempor semper velit, non tempus eros venenatis vel. Duis posuere augue tempor risus finibus tincidunt. Fusce imperdiet, nisl in scelerisque pretium, lectus mauris ullamcorper turpis, nec condimentum nulla ipsum nec lorem. Suspendisse dictum turpis neque, id sodales risus eleifend in. Mauris vulputate nulla ultricies diam gravida feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque bibendum accumsan elit gravida venenatis. Nulla at sem feugiat est imperdiet aliquam in dictum nisi.</p>
               
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.about-us").addClass("active");
    $("li.our-school>ul").addClass("in");
    $("li.philosophy").addClass("active");
    
  });
</script>
{% endblock  %}