{% extends "layout.html" %}
{% block slider %}
  <!-- Indicators -->
  {# <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol> #}
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/admissions/banner-admission-ias-ces.jpg" alt="">
      <div class="carousel-caption">
      </div>
    </div>
   
  </div>
{% endblock  %}
{% block content %}

<div class="row body">
    {% include 'sidebar-admissions.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>{{page.title}}</h2>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <p>There are several ways for payments to pay the tuition. Here are the options and the payment policies:</p>
          </div>
          <div class="col-sm-6">
            <a href="static/pdf/Annie-CES.pdf" class="no-decoration" target="_blank"><p><img class="margin-15" src="static/img/parents-handbook/pdf-download.png" alt="" width="200">KINDERGARTEN / PRIMARY</p></a>
          </div>
          <div class="col-sm-6">
           <a href="static/pdf/Annie-IAS.pdf" class="no-decoration" target="_blank"> <p><img class="margin-15" src="static/img/parents-handbook/pdf-download.png" alt="" width="200">MIDDLE / HIGH SCHOOL</p></a>
            
          </div>
        </div>
        <div class="row">
             <div class="col-sm-12 page-title text-center">
                <p class="margin-30"> {{page.more_info}}</p>
            </div>
        </div>
        <div class="row lightgray-bg">
           <div class="col-sm-6 col-sm-offset-3 text-center">
                <h3><span class="icon-record red-color"></span> KINDER / ELEMENTARY</h3>
                <p><span class="icon-phone"></span> 998(882.03.83)</p>
            </div>
             <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h3><span class="icon-record blue-color"></span> MIDDLE / HIGH SCHOOL</h3>
                <p><span class="icon-phone"></span> 998(882.22.69)</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.admissions").addClass("active");
    $("li.admissions-process-payment").addClass("active");
    
  });
</script>
{% endblock  %}