{% extends "layout.html" %}
{% block slider %}
  <!-- Indicators -->
  {# <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol> #}
  <!-- Wrapper for slides -->
  <div id="carousel-home" class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/Home/banner-home.jpg" alt=" Caption 1">
      <div class="carousel-caption">
        <h3 >LOREM IPSUM </h3>
        
      </div>
    </div>
   
  </div>
{% endblock  %}


{% block content %}
    <div class="row">
      <div class="col-sm-12 page-title text-center">
        <h2>{{page.title}}</h2>
      </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <div class="overlapped red-bg hidden-xs hidden-sm hidden-md"><a href="kinder-about.php" class="no-decoration"><h3>Kindergarden</h3></a></div>
              <div class="visible-xs visible-sm visible-md"><a href="kinder-about.php" class="no-decoration"><h3>Kindergarden</h3></a></div>
              <a href="kinder-about.php"><img class="img-circle margin-bottom-15 margin-top-15" src="static/img/Home/kinder-boton-home.jpg" alt="Generic placeholder image" width="254"></a>
              <p>Donec sed odio dui.   </p>
            </div>
          </div>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 text-center ">
           <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <div class="overlapped blue-bg hidden-xs hidden-sm hidden-md"><a href="primary-about.php" class="no-decoration"><h3>Primary</h3></a></div>
               <div class="visible-xs visible-sm visible-md"><a href="kinder-about.php" class="no-decoration"><h3>Primary</h3></a></div>
              <a href="primary-about.php"><img class="img-circle margin-bottom-15 margin-top-15" src="static/img/Home/primary-boton-home-ias-ces.jpg" alt="Generic placeholder image" width="254"></a>
              <p>Duis mollis, est non commodo luctus.</p>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <div class="overlapped red-bg hidden-xs hidden-sm hidden-md"><a href="middle-high-school-about.php" class="no-decoration"><h3>Middle / High</h3></a></div>
               <div class="visible-xs visible-sm visible-md"><a href="kinder-about.php" class="no-decoration"><h3>Middle / High</h3></a></div>
              <a href="middle-high-school-about.php"><img class="img-circle margin-bottom-15 margin-top-15" src="static/img/Home/middle-high-boton-home-ias-ces.jpg" alt="Generic placeholder image" width="254" ></a>
              <p>Donec sed odio dui. Cras justo odio.</p>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
    </div>


    <div class="row blue-bg">
        <div class="col-sm-12 text-center page-title-white"><h2 class="">{{page.subtitle}}</h2></div>          
         <div id="Carousel" class="carousel slide">
                 
       
             
            <!-- Carousel items -->
            <div class="carousel-inner">
                
              <div class="item active">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <div class="row">
                      <div class="col-sm-10 col-sm-offset-1">
                        
                          <div class="overlapped-events red-bg hidden-xs hidden-sm"><a href="primary-about.php" class="no-decoration"><p>KINDER</p></a></div>
                           <div class="visible-xs visible-sm"><a href="primary-about.php" class="no-decoration"><h3 class="white-color">KINDER</h3></a></div>
                        <a href="kinder-events.php" class="">
                          <img class="margin-bottom-15 margin-top-15" src="static/img/Home/evento-ces-bookweek.jpg" alt="Image" style="max-width:100%;">
                        </a>

                          <p class="white-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem cumque dolore</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 text-center ">
                    <div class="row">
                      <div class="col-sm-10 col-sm-offset-1">
                        
                          <div class="overlapped-events red-bg hidden-xs hidden-sm"><a href="primary-about.php" class="no-decoration"><p>PRIMARY</p></a></div>
                          <div class="visible-xs visible-sm"><a href="primary-about.php" class="no-decoration"><h3 class="white-color">PRIMARY</h3></a></div>
                          <a href="primary-events.php" >
                          <img class="margin-bottom-15 margin-top-15" src="static/img/Home/evento-ces-childrenday.jpg" alt="Image" style="max-width:100%;">
                        </a>
                          <p class="white-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem cumque dolore</p>
                      </div>
                    </div>  
                  </div>
                  <div class="col-md-4 text-center">
                     <div class="row">
                       <div class="col-sm-10 col-sm-offset-1">
                        
                          <div class="overlapped-events red-bg hidden-xs hidden-sm"><a href="primary-about.php" class="no-decoration"><p>MIDDLE / HIGH SCHOOL</p></a></div>
                          <div class="visible-xs visible-sm"><a href="primary-about.php" class="no-decoration"><h3 class="white-color">MIDDLE / HIGH SCHOOL</h3></a></div>
                          <a href="middle-high-school-events.php" class="">
                          <img class="margin-bottom-15 margin-top-15" src="static/img/Home/evento-ias-national-honor-society.jpg" alt="Image" style="max-width:100%;">
                        </a>
                          <p class="white-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem cumque dolore</p>
                       </div>
                     </div>
                        
                  </div>
                </div><!--.row-->
              </div><!--.item-->
            </div><!--.carousel-inner-->



        </div><!--.Carousel-->
    </div>
   
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.home").addClass("active");
  });
</script>
{% endblock  %}