{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-kinder.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>Teachers Websites</h2>
            </div>
        </div>
        <div class="row lightgray-bg">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                         <div class="margin-15"><img class="border-blue" src="static/img/kinder-teachers/amy-hogg-teacher-ces.jpg"></div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <h2 class="text-big uppercase"><span class="icon-record blue-color"></span>Jon Doe</h2>
                        <h4>KI &amp; KII English</h4>
                    </div>
                </div>      
            </div>
            <div class="col-sm-3 margin-top-15 border-left text-center">
                 <div class="margin-15"><img width="150" src="static/img/kinder-teachers/icon-site-ias-ces.png"></div>

            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                         <div class="margin-15"><img class="border-blue" src="static/img/kinder-teachers/daniela-valdes-teacher-ces.jpg"></div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <h2 class="text-big uppercase"><span class="icon-record blue-color"></span>Jon Doe</h2>
                        <h4>KI &amp; KII English</h4>
                    </div>
                </div>      
            </div>
            <div class="col-sm-3 margin-top-15 border-left text-center">
                 <div class="margin-15"><img  width="150" src="static/img/kinder-teachers/icon-site-ias-ces.png"></div>

            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                         <div class="margin-15"><img class="border-blue" src="static/img/kinder-teachers/estefania-aranda-teacher-ces.jpg"></div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <h2 class="text-big uppercase"><span class="icon-record blue-color"></span>Jon Doe</h2>
                        <h4>KI &amp; KII English</h4>
                    </div>
                </div>      
            </div>
            <div class="col-sm-3 margin-top-15 border-left text-center">
                 <div class="margin-15"><img width="150" src="static/img/kinder-teachers/icon-site-ias-ces.png"></div>

            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                         <div class="margin-15"><img class="border-blue" src="static/img/kinder-teachers/jimena-ascencio-assistant-ces.jpg"></div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <h2 class="text-big uppercase"><span class="icon-record blue-color"></span>Jon Doe</h2>
                        <h4>KI &amp; KII English</h4>
                    </div>
                </div>      
            </div>
            <div class="col-sm-3 margin-top-15 border-left text-center">
                 <div class="margin-15"><img  width="150" src="static/img/kinder-teachers/icon-site-ias-ces.png"></div>

            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                         <div class="margin-15"><img class="border-blue" src="static/img/kinder-teachers/lorena-parra-assistant-ces.jpg"></div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <h2 class="text-big uppercase"><span class="icon-record blue-color"></span>Jon Doe</h2>
                        <h4>KI &amp; KII English</h4>
                    </div>
                </div>      
            </div>
            <div class="col-sm-3 margin-top-15 border-left text-center">
                 <div class="margin-15"><img  width="150" src="static/img/kinder-teachers/icon-site-ias-ces.png"></div>

            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                         <div class="margin-15"><img class="border-blue" src="static/img/kinder-teachers/montserrat-tabales-assistant-ces.jpg"></div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <h2 class="text-big uppercase"><span class="icon-record blue-color"></span>Jon Doe</h2>
                        <h4>KI &amp; KII English</h4>
                    </div>
                </div>      
            </div>
            <div class="col-sm-3 margin-top-15 border-left text-center">
                 <div class="margin-15"><img width="150" src="static/img/kinder-teachers/icon-site-ias-ces.png"></div>

            </div>
            
            
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.kinder").addClass("active");
    $("li.kinder-teachers-websites").addClass("active");
  });
</script>
{% endblock  %}