{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-kinder.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>{{page.title}}</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 text-center">
                <p>{{page.content|raw}}</p>
            </div>

        </div>
       
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.kinder").addClass("active");
    $("li.kinder-technology").addClass("active");
  });
</script>
{% endblock  %}