{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-middle-high-school.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>Dialy Schedule</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 margin-top-15 margin-bottom-15"></div>
            <div class="col-sm-10 col-sm-offset-1">
                <table class="table table-bordered schedule">
                  <thead>
                    <tr >
                      
                      <th class="red-bg text-center">{{page.time}}</th>
                      <th class=" blue-bg text-center">{{page.activity}}</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    
                  {% for table in page.table %}
                    <tr>
                      <td class="red-bg">{{table.time}}</td>
                      <td class="blue-bg">{{table.activity}}</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.middle-high-school").addClass("active");
    $("li.middle-schedule").addClass("active");
  });
</script>
{% endblock  %}