{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-middle-high-school.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>Academic Program</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h4>{{page.junior_high}}</h4>
                <table class="table table-bordered  white-bg red-border">
                  <thead>
                    <tr>
                      <th class="text-center">{{page.seventh}}</th>
                      <th class="text-center">{{page.eight}}</th>
                      <th class="text-center">{{page.ninth}}</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for list  in  page.table_junior %}
                      <tr>
                          <td>{{list.seventh}}</td>
                          <td>{{list.eight}}</td>
                          <td>{{list.ninth}}</td>
                         
                      </tr>  
                    {% endfor %}
                   
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h4>{{page.high_school}}</h4>
                <table class="table table-bordered white-bg red-border">
                  <thead>
                    <tr>
                      <th class="text-center">{{page.tenth}}</th>
                      <th class="text-center">{{page.eleventh}}</th>
                      <th class="text-center">{{page.twelfth}}</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for list  in  page.table_high_school %}
                      <tr>
                          <td>{{list.tenth}}</td>
                          <td>{{list.eleventh}}</td>
                          <td>{{list.twelfth}}</td>                         
                      </tr>  
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p><strong>Model United Nations</strong></p>
                <p>Model UN is a seminar class during which students study the history and functions of the United Nations. Most students then participate in a conference that takes place in another state or country.</p>
                <p><strong>Other Observations</strong></p>
                <p>
                    a) In 12th grade students are assigned to math classes according to their math skills and preference.
                    <br>
                    b) During their senior year, students can choose between physics and ecology.
                    <br>
                    c) Students in grades 9-12 choose electives each semester. In the past these electives have included drawing, painting, woodworking, chess, computer drawing, drama, chorus, Intro to German, and SAT prep. 
                    <br>
                    d) Orientation is a class in which students explore their personalities, career options, test-taking skills, etc.
                </p>
            </div>
        </div>
       
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.middle-high-school").addClass("active");
    $("li.middle-academy").addClass("active");
  });
</script>
{% endblock  %}