{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-middle-high-school.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>Events</h2>
            </div>
        </div>
         <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide events-carousel" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        {% for event in page.events %}
                                            {% if loop.index == 1 %}
                                                <div class="active item" data-slide-number="{{loop.index0}}">
                                                <img src="{{event.image}}"></div>
                                            {% else %}
                                                <div class="item" data-slide-number="{{loop.index0}}">
                                                <img src="{{event.image}}"></div>
                                            {% endif %}
                                         {% endfor %}
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <div id="slide-content" style="display: none;">
                                {% for event in page.events %}
                                    <div id="slide-content-{{loop.index0}}">
                                        <h4>{{ event.titulo|raw }}</h4>
                                        {{ event.des|raw}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                           {% for event in page.events %}
                                <li class="">
                                    <div class="div-thumbnail"><a class="thumbnail" id="carousel-selector-{{loop.index0}}" ><img onmouseout="$(this).attr('src','{{event.thumbnail}}')" onmouseover="$(this).attr('src','{{event.thumbnailh}}')" src="{{event.thumbnail}}" rel="{{event.thumbnail}}"></a></div>
                                </li>
                            {% endfor %}
                        </ul>                 
                </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.middle-high-school").addClass("active");
    $("li.middle-events").addClass("active");
  });
</script>
{% endblock  %}