{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-primary.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>Coordinators &amp; Staff</h2>
            </div>
        </div>

        <div class="row lightgray-bg">
            <div class="col-sm-10 col-sm-offset-1 text-center ">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1" >
                        <div class="margin-15"><img class="border-blue" src="static/img/primary-coordinators/andra-terry-coordinator-ces.jpg"></div>
                    </div>
                    <div class="col-sm-5 text-left">
                        <h2 class="text-big uppercase"><span class="icon-record blue-color"></span>Jon Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit explicabo, porro voluptatibus mollitia. Ipsam sunt eum eos officia animi, modi fuga cupiditate ullam reiciendis, qui pariatur voluptates, blanditiis possimus iusto.</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1" >
                        <div class="margin-15"><img class="border-red" src="static/img/primary-coordinators/armando-escobedo-coordinator-ces.jpg"></div>
                    </div>
                    <div class="col-sm-5 text-left">
                        <h2 class="text-big uppercase"><span class="icon-record red-color"></span>Jane Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit explicabo, porro voluptatibus mollitia. Ipsam sunt eum eos officia animi, modi fuga cupiditate ullam reiciendis, qui pariatur voluptates, blanditiis possimus iusto.</p>
                    </div>
                    
                </div>
            </div>
             <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1" >
                        <div class="margin-15"><img class="border-blue" src="static/img/primary-coordinators/gabriela-alcazar-coordinator-ces.jpg"></div>
                    </div>
                    <div class="col-sm-5 text-left">
                        <h2 class="text-big uppercase"><span class="icon-record blue-color"></span>Jane Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit explicabo, porro voluptatibus mollitia. Ipsam sunt eum eos officia animi, modi fuga cupiditate ullam reiciendis, qui pariatur voluptates, blanditiis possimus iusto.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12 margin-top-15 margin-bottom-15"></div>
            <div class="col-sm-12">
                <table class="table table-bordered red-bg">
                  <thead>
                    <tr>
                      <th>ADMIN</th>
                      <th>MAIL</th>
                      <th>TEL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      
                      <td>Mark</td>
                      <td>j.doe@ias.com</td>
                      <td>999 8.88.88.88</td>
                    </tr>
                    <tr>
                      
                      <td>Jacob</td>
                      <td>j.doe@ias.com</td>
                      <td>999 8.88.88.88</td>
                    </tr>
                    <tr>
                     
                      <td>Larry</td>
                      <td>j.doe@ias.com</td>
                      <td>999 8.88.88.88</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.primary").addClass("active");
    $("li.primary-staff").addClass("active");
  });
</script>
{% endblock  %}