{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-primary.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>Events</h2>
            </div>
        </div>
         <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <img src="static/img/events-primary/day-dead-gallery.jpg"></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="static/img/events-primary/fathers-day-gallery.jpg"></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="static/img/events-primary/6th-grade-trip.jpg"></div>

                                        <div class="item" data-slide-number="3">
                                        <img src="static/img/events-primary/mexican-independence-gallery.jpg"></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="static/img/events-primary/december-holiday-gallery.jpg"></div>

                                        <div class="item" data-slide-number="5">
                                        <img src="static/img/events-primary/childres-day-gallery.jpg"></div>

                                        <div class="item" data-slide-number="6">
                                        <img src="static/img/events-primary/halloween-gallery.jpg"></div>

                                        <div class="item" data-slide-number="7">
                                        <img src="static/img/events-primary/flag-ceremony-gallery.jpg"></div>

                                        <div class="item" data-slide-number="8">
                                        <img src="static/img/events-primary/field-trip-gallery.jpg"></div>

                                        <div class="item" data-slide-number="9">
                                        <img src="static/img/events-primary/easter-gallery.jpg"></div>

                                        <div class="item" data-slide-number="10">
                                        <img src="static/img/events-primary/mini-olympics-gallery.jpg"></div>

                                        <div class="item" data-slide-number="11">
                                        <img src="static/img/events-primary/world-food-day-gallery.jpg"></div>

                                        <div class="item" data-slide-number="12">
                                        <img src="static/img/events-primary/science-fair-gallery.jpg"></div>

                                        <div class="item" data-slide-number="13">
                                        <img src="static/img/events-primary/red-ribbon-week-gallery.jpg"></div>

                                        <div class="item" data-slide-number="14">
                                        <img src="static/img/events-primary/book-week-gallery.jpg"></div>

                                        <div class="item" data-slide-number="15">
                                        <img src="static/img/events-primary/mothers-day-gallery.jpg"></div>

                                        <div class="item" data-slide-number="16">
                                        <img src="static/img/events-primary/poetry-recytal-gallery.jpg"></div>

                                        <div class="item" data-slide-number="17">
                                        <img src="static/img/events-primary/talent-show-gallery.jpg"></div>

                                        <div class="item" data-slide-number="18">
                                        <img src="static/img/events-primary/spelling-bee-gallery.jpg"></div>




                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <div id="slide-content" style="display: none;">
                                <div id="slide-content-0">
                                    <h4>Campamento</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-1">
                                    <h4>Día de la Independencia</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-2">
                                    <h4>Día del Libro</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-3">
                                    <h4>Día de las madres</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-4">
                                    <h4>Día de muertos</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-5">
                                    <h4>Día del niño</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-6">
                                    <h4>Dia de padres</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-7">
                                    <h4>Graduación</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-8">
                                    <h4>Halloween</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-9">
                                    <h4>Mini Olimpiadas</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-10">
                                    <h4>Navidad</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-11">
                                    <h4>Open House</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-12">
                                    <h4>Pascua</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-13">
                                    <h4>Recital de poesía</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-14">
                                    <h4>Show de talentos</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>

                                <div id="slide-content-15">
                                    <h4>Thanksgiving</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cumque voluptas consequatur dignissimos iste dolore inventore cum esse magnam ducimus delectus eos, quod, ad officia accusantium maxime quam repellendus, rem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-0"><img src="static/img/events-primary/day-dead-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-1"><img src="static/img/events-primary/fathers-day-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/170x100&text=6thGradeTrip"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-3"><img src="static/img/events-primary/mexican-independence-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-4"><img src="static/img/events-primary/december-holidays-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-5"><img src="static/img/events-primary/childrens-day-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-6"><img src="static/img/events-primary/halloween-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-7"><img src="static/img/events-primary/flag-ceremony-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-8"><img src="static/img/events-primary/field-trips-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-9"><img src="static/img/events-primary/easter-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-10"><img src="static/img/events-primary/mini-olympics-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-11"><img src="static/img/events-primary/world-food-day-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-12"><img src="static/img/events-primary/science-fair-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-13"><img src="static/img/events-primary/red-ribbon-week-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-14"><img src="static/img/events-primary/book-week-ces.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-15"><img src="static/img/events-primary/mothers-day-ces.jpg"></a>
                            </li>
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-16"><img src="static/img/events-primary/poetry-recytal-ces.jpg"></a>
                            </li>
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-17"><img src="static/img/events-primary/talent-show-ces.jpg"></a>
                            </li>
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-18"><img src="static/img/events-primary/spelling-bee-ces.jpg"></a>
                            </li>


                        </ul>                 
                </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.primary").addClass("active");
    $("li.primary-events").addClass("active");
  });
</script>
{% endblock  %}