{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-primary.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>Curriculum</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut leo non odio cursus luctus. Cras interdum nunc ex, eu dapibus arcu rhoncus sit amet. Sed non rutrum velit. Nulla facilisis nec orci eget aliquet. Duis ut sollicitudin tellus, consequat finibus odio. Vestibulum molestie felis quam, vitae varius sem pulvinar non. Aliquam arcu diam, varius non metus sit amet, pellentesque bibendum neque. Curabitur vitae gravida dui.</p>

                <p>Mauris mauris orci, gravida laoreet dolor eu, malesuada sagittis ex. Nulla aliquam tellus leo, vulputate suscipit libero consequat vel. Mauris mattis commodo egestas. Suspendisse at nibh rutrum, convallis nulla vel, auctor enim. Sed in elit nulla. Nam blandit dolor a lorem viverra scelerisque a nec sapien. Ut tincidunt, eros nec commodo facilisis, sapien nibh sodales arcu, eu efficitur ipsum odio in justo. Cras bibendum sapien at volutpat auctor. Quisque dictum pretium eros quis porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In dui eros, pretium non varius nec, dapibus id ante.</p>
               
            </div>
        </div>
         <div id="main_area">
            <!-- Slider -->
            <div class="row">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                    <img src="http://placehold.it/1000x300&text=one"></div>

                                    <div class="item" data-slide-number="1">
                                    <img src="http://placehold.it/1000x300&text=two"></div>

                                    <div class="item" data-slide-number="2">
                                    <img src="http://placehold.it/1000x300&text=three"></div>

                                    <div class="item" data-slide-number="3">
                                    <img src="http://placehold.it/1000x300&text=four"></div>

                                    <div class="item" data-slide-number="4">
                                    <img src="http://placehold.it/1000x300&text=five"></div>

                                    <div class="item" data-slide-number="5">
                                    <img src="http://placehold.it/1000x300&text=six"></div>
                                </div><!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                </a>                                
                                </div>
                        </div>
                    </div>
                </div>
            </div><!--/Slider-->

            <div class="row hidden-xs" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->
                    <ul class="hide-bullets">
                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-0"><img src="http://placehold.it/170x100&text=one"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/170x100&text=two"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/170x100&text=three"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&text=four"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/170x100&text=five"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/170x100&text=six"></a>
                        </li>
                    </ul>                 
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.primary").addClass("active");
    $("li.primary-curriculum").addClass("active");
  });
</script>
{% endblock  %}