{% extends "layout.html" %}
{% block content %}
<div class="row body">
    {% include 'sidebar-primary.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>Dialy Schedule</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12  text-center">
              <p>1st throug 3rd Grade's</p>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <table class="table table-bordered schedule">
                  <thead>
                    <tr >
                      
                      <th class="red-bg text-center">TIME</th>
                      <th class=" blue-bg text-center">ACTIVITY</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>

                    
                  </tbody>
                </table>
            </div>
             <div class="col-sm-12 text-center">
              <p>4th throug 6th Grade's</p>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <table class="table table-bordered schedule">
                  <thead>
                    <tr >
                      
                      <th class="red-bg text-center">TIME</th>
                      <th class=" blue-bg text-center">ACTIVITY</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>
                    <tr>
                      <td class="red-bg">7:10</td>
                      <td class="blue-bg">Bell Rings</td>
                    </tr>

                    
                  </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.schools").addClass("active");
    $("li.primary").addClass("active");
    $("li.primary-dialy-schedule").addClass("active");
  });
</script>
{% endblock  %}