<div id="left" class="col-sm-3 col-md-2 sidebar left-side blue-bg">
    <h3>{{sidebar.title}}</h3>
      <ul id="menu-group-1" class="nav nav-sidebar"> 
        <li class="life-events"><a href="students-life-events.php">{{sidebar.events}}</a></li> 
        <li class="life-library"><a href="students-life-library.php">{{sidebar.library}}</a></li> 
        <li class="life-tecnology"><a href="students-life-tecnology.php">{{sidebar.tecnology}}</a></li> 
        <li class="life-coffe-shop"><a href="students-life-coffe-shop.php">{{sidebar.coffe_shop}}</a></li> 
        <li class="life-recycle"><a href="students-life-recycle.php">{{sidebar.recycle}}</a></li> 
        <li class="life-health"><a href="students-life-health.php">Health</a></li> 
        <li class="life-community-service"><a href="students-life-community-service.php">{{sidebar.community_service}}</a></li> 
      </ul>
</div>