<div id="left" class="col-sm-3 col-md-2 sidebar left-side blue-bg">
    <h3>{{sidebar.titlle}}</h3>
      <ul id="menu-group-1" class="nav nav-sidebar"> 
        <li class="middle-about"><a href="middle-high-school-about.php">{{sidebar.about}}</a></li> 
        <li class="middle-staff"><a href="middle-high-school-staff.php">{{sidebar.staff}}</a></li> 
        <li class="middle-schedule"><a href="middle-high-school-dialy-schedule.php">{{sidebar.schedule}}</a></li>
        <li class="middle-teachers"><a href="middle-high-school-teachers.php">{{sidebar.teachers}}</a></li>
        <li class="middle-calendar"><a href="middle-high-school-calendar.php">{{sidebar.calendar}}</a></li> 
        <li class="middle-events"><a href="middle-high-school-events.php">{{sidebar.events}}</a></li> 
        <li class="middle-academy"><a href="middle-high-school-academic-program.php">{{sidebar.academy}}</a></li> 
        <li class="middle-guidance" class="item-1 deeper parent active">
            <a class="" href="#">
                <span data-toggle="collapse"  href="#sub-item-1" class="">{{sidebar.guidance}}</span>     
            </a>
            <ul class="children nav-child collapse" id="sub-item-1">
                <li class="middle-description"><a href="middle-high-school-description.php">{{sidebar.description}}</a></li>
                <li class="middle-finding"><a href="middle-high-school-finding-a-school.php">{{sidebar.finding_school}}</a></li>
                <li class="middle-testing"><a href="middle-high-school-testing.php">{{sidebar.testing}}</a></li>
                <li class="middle-financial"><a href="middle-high-school-financial-aid.php">{{sidebar.financial_aid}}</a></li>
                <li class="middle-scolarship"><a href="middle-high-school-scholarship.php">{{sidebar.scholarship}}</a></li>
            </ul>
        </li>
      </ul>
</div>