<div id="left" class="col-sm-3 col-md-2 sidebar left-side blue-bg">
    <h3>{{sidebar.title}}</h3>
      <ul id="menu-group-1" class="nav nav-sidebar"> 
        <!--<li class="kinder-about"><a href="kinder-about.php">{{sidebar.about}}</a></li>--> 
        <li class="kinder-staff"><a href="kinder-staff.php">{{sidebar.staff}}</a></li> 
        <li class="kinder-events"><a href="kinder-events.php">{{sidebar.events}}</a></li> 
        <li class="kinder-calendar"><a href="kinder-calendar.php">{{sidebar.calendar}}</a></li> 
        <!--<li class="kinder-newsletter"><a href="kinder-newsletter.php">{{sidebar.newsletter}}</a></li>--> 
        <li class="kinder-standard"><a href="kinder-standard.php">{{sidebar.standard}}</a></li> 
        <li class="kinder-teachers-websites"><a href="kinder-teachers-websites.php">{{sidebar.teachers_websites}}</a></li> 
        <li class="kinder-positive-discipline"><a href="kinder-positive-discipline.php">{{sidebar.positive_discipline}}</a></li> 
        <!--<li class="kinder-uniforms"><a href="kinder-uniforms.php">{{sidebar.uniforms}}</a></li>--> 
        <li class="kinder-party-guidelines"><a href="kinder-party-guidelines.php">{{sidebar.party_guidelines}}</a></li> 
        <li class="kinder-technology"><a href="kinder-technology.php">{{sidebar.technology}}</a></li> 
        <li class="kinder-after"><a href="kinder-after-school.php">{{sidebar.after_school}}</a></li> 
        <li class="kinder-daily"><a href="kinder-daily-schedule.php">{{sidebar.daily_schedule}}</a></li> 
      </ul>
</div>