<div id="left" class="col-sm-3 col-md-2 sidebar left-side blue-bg">
    <h3><a href="about-us.php">{{sidebar.title}}</a></h3>
      <ul id="menu-group-1" class="nav nav-sidebar"> 
        <li class="school-profile"><a href="about-us-school-profile.php">{{sidebar.school_profile}}</a></li> 
        <li class="our-school">
            <a class="" href="#">
                <span data-toggle="collapse"  href="#sub-item-1" class="">{{sidebar.our_school}}</span>     
            </a>
            <ul class="children nav-child collapse" id="sub-item-1">
                <li class="history"><a href="about-us-history.php">{{sidebar.history}}</a></li>
                <li class="mission-statement"><a href="about-us-mission-statement.php">{{sidebar.mission_statement}}</a></li>
                <li class="philosophy"><a href="about-us-philosophy.php">{{sidebar.philosophy}}</a></li>
                <li class="parents-handbook"><a href="about-us-parents-handbook.php">{{sidebar.parents_handbook}}</a></li>
            </ul>
        </li>
        <li class="asomex"><a href="about-us-asomex.php">{{sidebar.asomex}}</a></li> 
        <li class="pta"><a href="about-us-pta.php">{{sidebar.pta}}</a></li> 

      </ul>
</div>