<div id="left" class="col-sm-3 col-md-2 sidebar left-side blue-bg">
    <h3>{{sidebar.title}}</h3>
      <ul id="menu-group-1" class="nav nav-sidebar"> 
        <!--<li class="primary-about"><a href="primary-about.php">{{sidebar.about}}</a></li> -->
        <li class="primary-staff"><a href="primary-staff.php">{{sidebar.staff}}</a></li> 
        <li class="primary-dialy-schedule"><a href="primary-dialy-schedule.php">{{sidebar.schedule}}</a></li> 
        <li class="primary-teacher-site"><a href="primary-teacher-site.php">{{sidebar.teachers}}</a></li> 
        <li class="primary-after-school"><a href="primary-after-school.php">{{sidebar.after_school}}</a></li> 
        <li class="primary-calendars"><a href="primary-calendars.php">{{sidebar.calendars}}</a></li> 
        <li class="primary-events"><a href="primary-events.php">{{sidebar.events}}</a></li> 
        <li class="primary--coffe-shop"><a href="students-life-coffe-shop.php">{{sidebar.coffee}}</a></li> 
        <!--<li class="primary-uniforms"><a href="primary-uniforms.php">{{sidebar.uniforms}}</a></li> -->
        <li class="primary-party-guidelines"><a href="primary-party-guidelines.php">{{sidebar.party_guidelines}}</a></li> 
        <li class="primary-curriculum"><a href="primary-curriculum.php">{{sidebar.curriculum}}</a></li> 
        <li class="primary-technology"><a href="primary-technology.php">{{sidebar.technology}}</a></li> 
      </ul>
</div>