{% extends "layout.html" %}
{% block slider %}
  <!-- Indicators -->
  {# <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol> #}
  <!-- Wrapper for slides -->
  <div  class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/student-life/banners4-ias-ces.jpg" alt=" Caption 1">
      <div class="carousel-caption">
      </div>
    </div>
   
  </div>
{% endblock  %}
{% block content %}
<div class="row body">
    {% include 'sidebar-students-life.html' %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>{{page.title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores soluta voluptas dolores iste reiciendis cupiditate veniam modi fuga ex animi repudiandae laborum inventore voluptates culpa quas, ratione excepturi numquam nihil.
                </p>
               
            </div>
        </div>
        <div class="row lightgray-bg">
            <div class="col-sm-6 col-sm-offset-3  ">
                <a class="no-decoration" href="kinder-events.php"><h3 style="margin-top: 25px; margin-bottom: 20px;"><span class="icon-record red-color"></span> KINDERGARTEN ACTIVITIES</h3></a>
            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center ">
                <hr>
            </div>
            <div class="col-sm-6 col-sm-offset-3 ">
                <a class="no-decoration" href="primary-events.php"><h3 style="margin-top: 25px; margin-bottom: 20px;"><span class="icon-record red-color"></span> ELEMENTARY ACTIVITIES</h3></a>
            </div>
            <div class="col-sm-10 col-sm-offset-1  ">
                <hr>
            </div>
            <div class="col-sm-6 col-sm-offset-3 ">
                <a class="no-decoration" href="middle-high-school-events.php"><h3 style="margin-top: 25px; margin-bottom: 20px;"><span class="icon-record blue-color"></span> MIDDLE/HIGH SCHOOL ACTIVITIES</h3></a>
            </div>
        </div>
        <!--<div class="row">
             <div class="col-sm-12 page-title text-center">
                <h2>Extracurricular Activities</h2>
            </div>
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nam eaque provident nostrum beatae totam, assumenda quam pariatur molestiae sint quos eos expedita officia saepe, mollitia eveniet praesentium officiis aspernatur?</p>
               
            </div>
            <div class="col-sm-3 col-sm-offset-4 text-center">
                <a href=""><img class="margin-15" src="static/img/student-life/pdf-download.png" alt=""></a>
            </div>
        </div>-->
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.student-life").addClass("active");
    $("li.life-events").addClass("active");
  });
</script>
{% endblock  %}