{% extends "layout.html" %}
{% block slider %}
  <!-- Indicators -->
  {# <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol> #}
  <!-- Wrapper for slides -->
  <div  class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/student-life/banners4-ias-ces.jpg" alt=" Caption 1">
      <div class="carousel-caption">
      </div>
    </div>
   
  </div>
{% endblock  %}
{% block content %}
<div class="row body">
    {% include 'sidebar-students-life.html'  %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>{{page.title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
               {{page.content|raw}}
               
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.student-life").addClass("active");
    $("li.life-community-service").addClass("active");
  });
</script>
{% endblock  %}