{% extends "layout.html" %}
{% block slider %}
  <!-- Indicators -->
   <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol> 
  <!-- Wrapper for slides -->
  <div  class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/student-life/banner1-student-life.jpg" alt=" Caption 1">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="static/img/student-life/banner2-student-life.jpg" alt=" Caption 1">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="static/img/student-life/banner3-student-life.jpg" alt=" Caption 1">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="static/img/student-life/banner4-student-life.jpg" alt=" Caption 1">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
{% endblock  %}
{% block content %}
<div class="row body">
    {% include 'sidebar-students-life.html'  %}
    <div class="col-sm-9 col-md-10 right-side">
        <div class="row">
            <div class="col-sm-12 page-title text-center">
                <h2>{{page.title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{page.content|raw}}
               
            </div>
        </div>
        <div id="main_area">
            <!-- Slider -->
            <div class="row">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                    <img src="static/img/cafeteria/gallery-ias-ces-cafeteria.jpg"></div>

                                    <div class="item" data-slide-number="1">
                                    <img src="static/img/cafeteria/gallery-ias-ces-cafeteria2.jpg"></div>

                                    <div class="item" data-slide-number="2">
                                    <img src="static/img/cafeteria/gallery-ias-ces-cafeteria3.jpg"></div>

                                    <div class="item" data-slide-number="3">
                                    <img src="static/img/cafeteria/gallery-ias-ces-cafeteria4.jpg"></div>

                                    <div class="item" data-slide-number="4">
                                    <img src="static/img/cafeteria/gallery-ias-ces-cafeteria5.jpg"></div>

                                    <div class="item" data-slide-number="5">
                                    <img src="static/img/cafeteria/gallery-ias-ces-cafeteria6.jpg"></div>


                                </div><!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                </a>                                
                                </div>
                        </div>
                    </div>
                </div>
            </div><!--/Slider-->

            <div class="row hidden-xs" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->
                    <ul class="hide-bullets">
                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-0"><img src="static/img/cafeteria/gallery-ias-ces-cafeteria-thumb.jpg"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-1"><img src="static/img/cafeteria/gallery-ias-ces-cafeteria-thumb2.jpg"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-2"><img src="static/img/cafeteria/gallery-ias-ces-cafeteria-thumb3.jpg"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-3"><img src="static/img/cafeteria/gallery-ias-ces-cafeteria-thumb4.jpg"></a>
                        </li>

                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-4"><img src="static/img/cafeteria/gallery-ias-ces-cafeteria-thumb5.jpg"></a>
                        </li>
                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-5"><img src="static/img/cafeteria/gallery-ias-ces-cafeteria-thumb6.jpg"></a>
                        </li>

                    </ul>                 
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.student-life").addClass("active");
    $("li.life-coffe-shop").addClass("active");
  });
</script>
{% endblock  %}